// Defaults
* {
    @include box-sizing(border-box);
}


html,body,div,span,applet,object,iframe,h1,h2,
h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,
big,cite,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,
dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
embed,figure,figcaption,footer,header,hgroup,input,menu,
nav,output,ruby,section,summary,time,mark,audio,video {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* Clearfix */
.site-inner:after,
.home-middle:after,
.site-header:after,
.nav-primary:after,
.nav-secondary:after,
.wrap:after,
.footer-widgets:after,
.clearfix:after {
    content: " ";
    display: table;
    clear:both;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #ccd5e0;
    color: $textColor;
    font-family: $baseFontFamily;
    @include rem(font-size, 14px);
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}

p.pages,
.clear,
.clear-line {
    clear: both;
}

.clear-line {
    border-bottom: 1px solid #ccc;
    @include rem(margin-bottom, 26px);
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

a,
a:visited,
button,
input[type="button"],
input[type="submit"] {
    @include transition(all 0.2s ease-in-out);
}

::-moz-selection {
    background-color: $dark;
    color: $light;
}

::selection {
    background-color: $dark;
    color: $light;
}

a {
	color: #115688;
	text-decoration: underline;

    &:hover, &:focus {
      color: #990000;
    }

}

a img {
    border: none;
}
