/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.entry-title a,
.site-title {
	color: #00115b;
	line-height: 1.2;
	@include rem(margin-bottom, 16px);
	font-weight: 700;
}

h1,
.entry-title,
.entry-title a,
.site-title {
	color: #990000;
	@include rem(font-size, 30px);
	// @include rem(margin-bottom, 42px);
	@include rem(margin-bottom, 20px);
}

.entry-title-extra > div {
	color: #990000;
	font-weight: 700;

	&:first-child {
		@include rem(font-size, 20px);

		@media only screen and (min-width: 992px) {
			@include rem(font-size, 30px);
		}

	}

	&:last-child {
		@include rem(font-size, 30px);
		margin-bottom: 10px;

		@media only screen and (min-width: 992px) {
			@include rem(font-size, 40px);
			margin-bottom: 20px;
		}

	}


}

/* Title Class for SEO / No Overuse of H Tags */
.title,
h2 {
	@include rem(font-size, 28px);
}

h2 a,
h2 a:visited {
	color: $color-extra;
	&:hover { color: shade($color-cta, 30%); }
}


h3 {
	@include rem(font-size, 24px);
}

h4,
.archive-title,
.taxonomy-description h1,
.widgettitle {
	@include rem(font-size, 20px);
}

h4.widgettitle a {
	color:$color-cta;
}

h5 {
	@include rem(font-size, 18px);
}

h6,
.author-box h1,
.sidebar h2 a {
	@include rem(font-size, 14px);
}

.author-box h1 {
	margin: 0;
	line-height: 1.5;
}

.taxonomy-description h1 {

	@include rem(margin-bottom, 4px);
}

.archive-title {

	@include rem(margin-bottom, 24px);
}
