.site-header {
	// border-bottom: none;
	overflow: hidden;

	// @media only screen and (min-width: 992px) {
	//
	// }

	.wrap {
		background: url("images/banner.jpg") no-repeat;
		height: 100px;
		padding-left: 20px;
		padding-right: 20px;

		@media only screen and (min-width: 992px) {
			border-left: 1px solid #111d43;
			border-right: 1px solid #111d43;
			height: 100px;
			padding-left: 0;
			padding-right: 0;
		}

	}

}

.site-title {
	@include rem(font-size, 30px);
	line-height: 78px;

	a {
		color: $color-extra;
		text-decoration: none;

		&:hover { color: $color-cta; }
	}

	font-family: $googleFont;
	font-weight: 700;
}

.header-image .title-area {
	background: url("images/logo.png") no-repeat;
	background-size: contain;
	margin: 10px;

	@media only screen and (min-width: 768px) {
		background-size: auto;
	}
}

.header-image .site-title {
	margin: 0;
	text-indent: -9999px;
}

.site-description {
	line-height: 1.25;
	color: $color-extra;
}


.header-full-width .site-title,
.header-full-width .site-title a,
.header-full-width .title-area {
	width: 100%;
}

.header-image .site-title,
.header-image .site-title a,
.header-image .title-area {
	display: block;
	float: left;
	max-width: 335px;
	overflow: hidden;
	width: 100%;
}

.header-image .site-description {
	display: none;
}

.site-header .search-form {
	float: right;
	@include rem(margin-top, 56px);
	width: 100%;
}

// Header Widget Area
.header-widget-area {
	display: none;

	@media only screen and (min-width: 992px) {
		display: block;
		height: 100px;
		padding: 10px;
	}

}

.header-widget-area .content {
	padding-bottom: 0;
	width: 100%;
}

.quote {
	font-style: italic;
	margin-bottom: 0;
	margin-top: 5px;
	text-align: center;
}
