/*
Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
	clear: both;
	padding-top: 10px;

	.wrap {
		overflow: hidden;
	}

}

.social-buttons {
	margin: 10px 20px;

	@media only screen and (min-width: 992px) {
		margin-left: 0;
		margin-right: 0;
	}

	span {
		vertical-align: top;
	}

}

.copyright {
	color: #666699;
	@include rem(font-size, 11px);
	margin-left: 20px;
	margin-right: 20px;

	@media only screen and (min-width: 992px) {
		margin-left: 0;
		margin-right: 0;
	}

}

.geotrust-bbb-buttons {
	margin-bottom: 10px;
	margin-left: 20px;
	text-align: left;

	@media only screen and (min-width: 992px) {
		margin-bottom: 0;
		margin-left: 0;
		text-align: right;
	}

}

// Footer Widget Area
// .footer-widget
.site-footer section.widget {
	background-color: #ffffff;
	padding: 20px;

	@media only screen and (min-width: 992px) {
		border: 1px solid #898989;
		margin-bottom: 20px;
	}

	p {
		@include rem(margin-bottom, 16px);
	}

	.widget {
		// @include rem(margin-bottom, 24px);
	}

	.widget-area ul li {
		list-style-type: none;
		@include rem(margin-bottom, 6px);
		word-wrap: break-word;
	}

}

.site-footer section.widget .widget .content {
	float: none;
	width: 100%;
}

.site-footer section.widget-wrangler-widget-classname {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.article-list-section {
	@media only screen and (min-width: 992px) {
		padding: 15px;
	}
}

.learn-more {
	h1, h2, h3, h4, h5, h6, p {
		color: #990000;
	}

	a {
		color: #990000;
		text-decoration: none;

		&:hover, &:focus {
			color: #990000;
			text-decoration: underline;
		}
	}
}
