input,
select,
textarea {
	background-color: $light;
	border: 1px solid #bcbcbc;
	border-radius: 3px;
	box-shadow: 0 0 5px #ddd inset;
	@include rem(padding, 16px);
	width: 100%;
	color: shade($light,50%);
}

// button,
// input[type="button"],
// input[type="submit"] {
// 	background-color: tint($dark,30%);
// 	border: none;
// 	box-shadow: none;
// 	cursor: pointer;
// 	@include rem(padding, 16px 24px);
// 	width: auto;
// 	color: #fff;
// 	font-size:inherit;
// }

// button:hover,
// input:hover[type="button"],
// input:hover[type="submit"],
// .btn:hover {
// 	background-color: shade($color-cta, 30%);
// }

// Apply Form
.form-apply {

	.zipcode-label {
		line-height: 30px;
	}

	.zipcode {
		border-radius: 0;
		box-shadow: none;
		color: #000000;
		margin-bottom: 10px;
		padding: 5px;

		@media only screen and (min-width: 992px) {
			float: right;
			margin-bottom: 5px;
			width: 205px;
		}

	}

	.typeofloan-label {
		line-height: 30px;

		@media only screen and (min-width: 992px) {
			display: none;
		}
	}

	.typeofloan {
		border-radius: 0;
		box-shadow: none;
		color: #000000;
		margin-bottom: 20px;
		padding: 5px;

		@media only screen and (min-width: 992px) {
			margin-bottom: 5px;
		}

	}

}

.btn-apply {
	background-color: #990000;
	border: 0;
	border-radius: 0;
	color: #fff;
	display: block;
	font-weight: 700;
	@include rem(font-size, 30px);
	text-transform: uppercase;
	text-shadow: 0 0 5px #000000;
	padding: 5px 10px;
	width: 100%;

	&:hover {
		background-color: #990000;
		box-shadow: 0 0 20px #333 inset;
		text-shadow: none;
	}

	.fa {
		@include rem(font-size, 22px);
		position: relative;
		top: -4px;
	}
}

// Auto Loan Calculator
.auto-loan-calculator-container {
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
}

.form-calculator {

	.form-group {
		margin-bottom: 5px;
		overflow: auto;

		@media only screen and (min-width: 640px) {
			margin-bottom: 15px;
		}

	}

	label {

		@media only screen and (min-width: 640px) {
			margin-top: 5px;
		}

	}

	.form-control {
		border-radius: 0;
		margin: 5px 0 10px;
		padding: 5px;

		@media only screen and (min-width: 640px) {
			float: right;
			margin: 0;
			width: 60%;
		}
	}

}

.btn-calculate {
	background-color: #17619b;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	display: block;
	@include rem(font-size, 16px);
	font-weight: 700;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 30px;
	text-shadow: 0 0 5px #000000;
	text-transform: uppercase;
	width: auto;

	&:hover {
		background-color: #17619b;
		box-shadow: 0 0 20px #333 inset;
		text-shadow: none;
	}
}

.btn-start-over {
	color: #990000;
	background-color: transparent;
	display: block;
	@include rem(font-size, 13px);
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: auto;

	&:hover {
		background-color: #990000;
		color: #fff;
		text-decoration: none;
	}
}

#table-header {
	background-color: #17619b;
	border: 1px solid gray;
    clear: both;
    color: #fff;
    max-width: 500px;
    width: 100%;

    .tbl-heading {
    	// border: 1px solid #fff;
    	@include rem(font-size, 11px);
    	text-align: center;
    	vertical-align: middle;

    	@media only screen and (min-width: 640px) {
    		@include rem(font-size, 14px);
    	}
    }

}

#table-content {
	background-color: #ccd5e0;
    border: 1px solid gray;
    color: #3a3a3a;
    height: 200px;
    overflow: auto;
    max-width: 500px;
    width: 100%;

    .tbl-data {
    	// border: 1px solid #000;
    	@include rem(font-size, 11px);
    	text-align: center;

    	@media only screen and (min-width: 640px) {
    		@include rem(font-size, 14px);
    	}
    }
}

// TH
.th-pmtnum {
	width: 30px;
	@media only screen and (min-width: 640px) {
		width: 50px;
	}
}

.th-payment {
	width: 45px;
	@media only screen and (min-width: 640px) {
		width: 80px;
	}
}

.th-principle {
	width: 45px;
	@media only screen and (min-width: 640px) {
		width: 80px;
	}
}

.th-interest {
	width: 45px;
	@media only screen and (min-width: 640px) {
		width: 80px;
	}
}

.th-interest-paid {
	width: 45px;
	@media only screen and (min-width: 640px) {
		width: 90px;
	}
}

.th-balance {
	width: 60px;
	@media only screen and (min-width: 640px) {
		width: 95px;
	}
}

.th-space {
	width: 0;
	@media only screen and (min-width: 640px) {
		width: 15px;
	}
}

// TD
.td-pmtnum {
	width: 30px;
	@media only screen and (min-width: 640px) {
		width: 50px;
	}
}

.td-payment {
	width: 45px;
	@media only screen and (min-width: 640px) {
		width: 80px;
	}
}

.td-principle {
	width: 45px;
	@media only screen and (min-width: 640px) {
		width: 80px;
	}
}

.td-interest {
	width: 45px;
	@media only screen and (min-width: 640px) {
		width: 80px;
	}
}

.td-interest-paid {
	width: 45px;
	@media only screen and (min-width: 640px) {
		width: 90px;
	}
}

.td-balance {
	width: 60px;
	@media only screen and (min-width: 640px) {
		width: 94px;
	}
}

// Form Extra
.extra-payments-calculator-container {
	margin: 0 auto;
	max-width: 500px;
	width: 100%;

}

.form-extra-payments {

	.form-group {
		margin-bottom: 5px;
		overflow: auto;

		@media only screen and (min-width: 640px) {
			margin-bottom: 15px;
		}

	}

	.form-control {
		border-radius: 0;
		margin: 5px 0 10px;
		padding: 5px;

		@media only screen and (min-width: 640px) {
			display: inline-block;
		}
	}
	
	.ExtraMonthly,
	.ExtraYearly,
	.ExtraOnetime {
		@media only screen and (min-width: 640px) {
			width: 50px;
		}
	}

	.ExtraYearlyMonth,
	.ExtraOneTimeMonth,
	.ExtraOneTimeYear {
		@media only screen and (min-width: 640px) {
			width: 65px;
		}	
	}

	.PaidOffDate {
		@media only screen and (min-width: 640px) {
			width: 120px;
		}
	}

}

// Thank You page button
.btn-free-credit,
.btn-free-credit:active {
	background: #ffd275;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDI3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOTJjMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffd275 0%, #c92c01 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd275), color-stop(100%,#c92c01));
	background: -webkit-linear-gradient(top, #ffd275 0%,#c92c01 100%);
	background: -o-linear-gradient(top, #ffd275 0%,#c92c01 100%);
	background: -ms-linear-gradient(top, #ffd275 0%,#c92c01 100%);
	background: linear-gradient(to bottom, #ffd275 0%,#c92c01 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd275', endColorstr='#c92c01',GradientType=0 );

	border: 1px solid #b8b6b7;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
	@include rem(font-size, 18px);
	margin-bottom: 30px;
	padding: 15px 25px;
	text-decoration: none;
	text-shadow: 0 1px 1px #000;
	text-transform: uppercase;

	&:hover, &:focus {
		color: #fff;
	}

	@media only screen and (min-width: 640px) {
		background: url("images/Get-Free-Credit-Score-Btn.jpg") no-repeat;
		border: 0;
		height: 67px;
		text-indent: -9999px;
		width: 426px;

		&:active {
			background: url("images/Get-Free-Credit-Score-Btn.jpg") no-repeat;
			border: 0;
			height: 67px;
			text-indent: -9999px;
			width: 426px;
		}
	}

}