@charset "UTF-8";
/*!
    Theme Name: National Car and Loan
    Description: A custom Genesis child theme for NationalCarandLoan.com website.
    Author: Synergexis
    Author URI: http://www.synergexis.com/

    Version: 2.0

    Template: genesis
    Template Version: 2.0

    License: GPL-2.0+
    License URI: http://www.opensource.org/licenses/gpl-license.php
*/
/* Table of Contents

    01 Import Fonts
    02 Base Styles
        Defaults
        Wraps
        Containers and Columns
        Entry Content Structure
        Headings and Titles
  -- Layout --
    03 Header
    04 Navigation
       Primary Navigation Extras
       Pagination
    05 Meta and Comments
        Post Info and Meta
        Comments
    06 Post Content Styles
        Block Quotes
        Lists
    07 SideBar
    08 SideBar Alt
    09 Footer
        Footer Widgets
        Footer Navigation
  -- Modules --
    10 Forms and Buttons
    11 Images and Captions
    12 Author Box / Bread Crumbs / Sticky
    13 Widgets/Plugins
        eNews
        Gravity Forms
*/
/*
01 Import Fonts
---------------------------------------------------------------------------------------------------- */
@import url(//fonts.googleapis.com/css?family=Lato:400,700);
/*
02 Base Styles
---------------------------------------------------------------------------------------------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2,
h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address,
big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, input, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* Clearfix */
.site-inner:after,
.home-middle:after,
.site-header:after,
.nav-primary:after,
.nav-secondary:after,
.wrap:after,
.footer-widgets:after,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ccd5e0;
  color: #000000;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

p.pages,
.clear,
.clear-line {
  clear: both;
}

.clear-line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 26px;
  margin-bottom: 2.6rem;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

a,
a:visited,
button,
input[type="button"],
input[type="submit"] {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

::-moz-selection {
  background-color: #000D11;
  color: #fff;
}

::selection {
  background-color: #000D11;
  color: #fff;
}

a {
  color: #115688;
  text-decoration: underline;
}
a:hover, a:focus {
  color: #990000;
}

a img {
  border: none;
}

/* Wraps */
.site-container {
  width: 100%;
}

.wrap {
  margin: 0 auto;
  max-width: 948px;
}

.site-inner {
  overflow: hidden;
  *zoom: 1;
}
.site-inner .wrap {
  border-bottom: 1px solid #111d43;
}
@media only screen and (min-width: 992px) {
  .site-inner .wrap {
    border-left: 1px solid #111d43;
    border-right: 1px solid #111d43;
  }
}

/* Containers and Columns */
.content-sidebar-sidebar .sidebar-secondary,
.sidebar-content .content,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content,
.sidebar-sidebar-content .content-sidebar-wrap,
.site-footer .creds,
.site-header .widget-area,
.sidebar-content-sidebar .sidebar-primary {
  float: right;
}

.five-sixths,
.content-sidebar-sidebar .sidebar-primary,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds,
.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary,
.content-sidebar-sidebar .content,
.site-footer .gototop,
.sidebar-secondary,
.title-area,
.archive-page,
.content-sidebar .content,
.content-sidebar .sidebar-primary,
.sidebar-content-sidebar .sidebar-secondary,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left;
  margin-left: 1.47679%;
  /* 48px / 1152px */
}

.one-half,
.three-sixths,
.two-fourths,
.content-sidebar-sidebar .content,
.archive-page {
  width: 47.91667%;
  /* 552px / 1152px */
}

.one-third,
.two-sixths,
.content-sidebar .sidebar-primary,
.sidebar-content .sidebar-primary,
.content-sidebar-sidebar .sidebar-primary,
.sidebar-content-sidebar .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary,
.title-area {
  width: 50%;
}

.four-sixths,
.two-thirds,
.content-sidebar .content,
.sidebar-content .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
  width: 50%;
}

.site-header .widget-area {
  max-width: 591px;
  width: 100%;
}

.one-fourth {
  width: 21.875%;
  /* 252px / 1152px */
}

.three-fourths {
  width: 73.95833%;
  /* 852px / 1152px */
}

.one-fifth {
  width: 16.66667%;
  /* 192px / 1152px */
}

.two-fifths {
  width: 37.5%;
  /* 432px / 1152px */
}

.three-fifths {
  width: 58.33333%;
  /* 672px / 1152px */
}

.four-fifths {
  width: 79.16667%;
  /* 912px / 1152px */
}

.one-sixth,
.sidebar-secondary {
  width: 13.19444%;
  /* 152px / 1152px */
}

.five-sixths,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  width: 82.63889%;
  /* 952px / 1152px */
}

.first,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .sidebar-secondary,
.sidebar-sidebar-content .sidebar-secondary,
.title-area,
.content-sidebar .content,
.sidebar-content .sidebar-primary,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .sidebar-primary {
  margin-left: 0;
  clear: both;
}

.sidebar-content .sidebar-primary,
.sidebar-content-sidebar .sidebar-secondary,
.sidebar-sidebar-content .sidebar-secondary,
.sidebar-sidebar-content .sidebar-primary {
  clear: none;
}

.archive-page {
  margin-left: 0;
}

/* Entry Content Structure */
main.content {
  background: #fefefe;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWYyZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fefefe 0%, #eef2fb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #eef2fb));
  background: -webkit-linear-gradient(top, #fefefe 0%, #eef2fb 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #eef2fb 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #eef2fb 100%);
  background: linear-gradient(to bottom, #fefefe 0%, #eef2fb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eef2fb',GradientType=0 );
  padding: 20px;
}
@media only screen and (min-width: 992px) {
  main.content {
    padding: 0;
  }
}

.home article.entry {
  padding: 0;
}
@media only screen and (min-width: 992px) {
  .home article.entry {
    float: none;
    padding: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .featured-image {
    float: left;
    height: 262px;
    width: 448px;
  }
}

article.entry {
  background: #fefefe;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWYyZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fefefe 0%, #eef2fb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #eef2fb));
  background: -webkit-linear-gradient(top, #fefefe 0%, #eef2fb 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #eef2fb 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #eef2fb 100%);
  background: linear-gradient(to bottom, #fefefe 0%, #eef2fb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eef2fb',GradientType=0 );
}
@media only screen and (min-width: 992px) {
  article.entry {
    float: left;
    height: 262px;
    overflow: auto;
    padding-left: 0;
    padding-right: 10px;
    padding-top: 10px;
    width: 498px;
  }
}
@media only screen and (min-width: 992px) {
  article.entry .entry-footer {
    padding-bottom: 10px;
  }
}

.page-thank-you-template article.entry,
.page-form-template article.entry,
.error404 article.entry {
  float: none;
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .page-thank-you-template article.entry,
  .page-form-template article.entry,
  .error404 article.entry {
    padding: 20px;
  }
}

.page .entry {
  margin: 0;
}

.entry-content {
  overflow: hidden;
}

.entry-date {
  color: #000;
  font-size: 10px;
  font-size: 1rem;
}

@media only screen and (min-width: 992px) {
  .page-thank-you-template article.entry {
    background: url("images/thankyou-bg.jpg") no-repeat;
    background-size: cover;
  }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.entry-title a,
.site-title {
  color: #00115b;
  line-height: 1.2;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
  font-weight: 700;
}

h1,
.entry-title,
.entry-title a,
.site-title {
  color: #990000;
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

.entry-title-extra > div {
  color: #990000;
  font-weight: 700;
}
.entry-title-extra > div:first-child {
  font-size: 20px;
  font-size: 2rem;
}
@media only screen and (min-width: 992px) {
  .entry-title-extra > div:first-child {
    font-size: 30px;
    font-size: 3rem;
  }
}
.entry-title-extra > div:last-child {
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  .entry-title-extra > div:last-child {
    font-size: 40px;
    font-size: 4rem;
    margin-bottom: 20px;
  }
}

/* Title Class for SEO / No Overuse of H Tags */
.title,
h2 {
  font-size: 28px;
  font-size: 2.8rem;
}

h2 a,
h2 a:visited {
  color: #3B3D42;
}
h2 a:hover,
h2 a:visited:hover {
  color: #2b4a5d;
}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
}

h4,
.archive-title,
.taxonomy-description h1,
.widgettitle {
  font-size: 20px;
  font-size: 2rem;
}

h4.widgettitle a {
  color: #3E6B85;
}

h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

h6,
.author-box h1,
.sidebar h2 a {
  font-size: 14px;
  font-size: 1.4rem;
}

.author-box h1 {
  margin: 0;
  line-height: 1.5;
}

.taxonomy-description h1 {
  margin-bottom: 4px;
  margin-bottom: 0.4rem;
}

.archive-title {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

/*********************************************************************************************

            LAYOUT

**********************************************************************************************/
/*
03 Header
---------------------------------------------------------------------------------------------------- */
.site-header {
  overflow: hidden;
}
.site-header .wrap {
  background: url("images/banner.jpg") no-repeat;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 992px) {
  .site-header .wrap {
    border-left: 1px solid #111d43;
    border-right: 1px solid #111d43;
    height: 100px;
    padding-left: 0;
    padding-right: 0;
  }
}

.site-title {
  font-size: 30px;
  font-size: 3rem;
  line-height: 78px;
  font-family: Arimo, Varela, sans-serif;
  font-weight: 700;
}
.site-title a {
  color: #3B3D42;
  text-decoration: none;
}
.site-title a:hover {
  color: #3E6B85;
}

.header-image .title-area {
  background: url("images/logo.png") no-repeat;
  background-size: contain;
  margin: 10px;
}
@media only screen and (min-width: 768px) {
  .header-image .title-area {
    background-size: auto;
  }
}

.header-image .site-title {
  margin: 0;
  text-indent: -9999px;
}

.site-description {
  line-height: 1.25;
  color: #3B3D42;
}

.header-full-width .site-title,
.header-full-width .site-title a,
.header-full-width .title-area {
  width: 100%;
}

.header-image .site-title,
.header-image .site-title a,
.header-image .title-area {
  display: block;
  float: left;
  max-width: 335px;
  overflow: hidden;
  width: 100%;
}

.header-image .site-description {
  display: none;
}

.site-header .search-form {
  float: right;
  margin-top: 56px;
  margin-top: 5.6rem;
  width: 100%;
}

.header-widget-area {
  display: none;
}
@media only screen and (min-width: 992px) {
  .header-widget-area {
    display: block;
    height: 100px;
    padding: 10px;
  }
}

.header-widget-area .content {
  padding-bottom: 0;
  width: 100%;
}

.quote {
  font-style: italic;
  margin-bottom: 0;
  margin-top: 5px;
  text-align: center;
}

/*
04 Navigation
---------------------------------------------------------------------------------------------------- */
.genesis-nav-menu {
  clear: both;
  color: #fff;
  font-family: "Lato", Arial, sans-serif;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  width: 100%;
}
.genesis-nav-menu .menu-item {
  display: inline-block;
  text-align: left;
}
.genesis-nav-menu a {
  border: none;
  color: #fff;
  display: block;
  padding: 28px 24px;
  padding: 2.8rem 2.4rem;
  position: relative;
}
.genesis-nav-menu a:hover {
  color: #000D11;
}
.genesis-nav-menu .sub-menu {
  left: -9999px;
  opacity: 0;
  position: absolute;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 200px;
  z-index: 99;
}
.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: none;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0;
  padding: 16px 20px;
  padding: 1.6rem 2rem;
  position: relative;
  width: 200px;
}
.genesis-nav-menu .sub-menu .sub-menu {
  margin: -54px 0 0 199px;
}
.genesis-nav-menu .menu-item:hover {
  position: static;
}
.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}
.genesis-nav-menu > .first > a {
  padding-left: 0;
}
.genesis-nav-menu > .last > a {
  padding-right: 0;
}
.genesis-nav-menu > .right {
  display: inline-block;
  float: right;
  list-style-type: none;
  padding: 28px 0;
  padding: 2.8rem 0;
  text-transform: uppercase;
}
.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0;
}
.genesis-nav-menu > .rss > a {
  margin-left: 48px;
  margin-left: 4.8rem;
}
.genesis-nav-menu > .search {
  padding: 14px 0 0;
  padding: 1.4rem 0 0;
}

/* Site Header Navigation
--------------------------------------------- */
.site-header .genesis-nav-menu a {
  color: #000D11;
}

.site-header .sub-menu {
  border-top: 1px solid #eee;
}
.site-header .sub-menu .sub-menu {
  margin-top: -55px;
}

/* Primary Navigation
--------------------------------------------- */
.nav-primary .wrap {
  background: #335c9c;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzNWM5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNjM3NzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #335c9c 0%, #063779 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #335c9c), color-stop(100%, #063779));
  background: -webkit-linear-gradient(top, #335c9c 0%, #063779 100%);
  background: -o-linear-gradient(top, #335c9c 0%, #063779 100%);
  background: -ms-linear-gradient(top, #335c9c 0%, #063779 100%);
  background: linear-gradient(to bottom, #335c9c 0%, #063779 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#335c9c', endColorstr='#063779',GradientType=0 );
  border-left: 1px solid #111d43;
  border-right: 1px solid #111d43;
}

.menu-primary .menu-item {
  border-right: 1px solid #ffffff;
  float: left;
  margin: 8px 0;
  text-align: center;
  width: 142px;
}
.menu-primary .menu-item:last-child {
  border-right: none;
}

.nav-primary a {
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-primary a:hover, .nav-primary a:focus {
  color: #ccd5e0;
}

.nav-primary .sub-menu a {
  border: 1px solid #333;
}

.nav-primary .sub-menu a {
  background-color: #3B3D42;
}
.nav-primary .sub-menu a:hover {
  color: #fff;
}

/* Secondary Navigation
--------------------------------------------- */
.nav-secondary a {
  color: #000D11;
}

.nav-secondary .sub-menu {
  border-top: 1px solid #eee;
}
.nav-secondary .sub-menu .sub-menu {
  margin-top: -55px;
}

/* Footer Navigation
--------------------------------------------- */
.nav-footer {
  margin-left: 20px;
  margin-right: 20px;
}
@media only screen and (min-width: 992px) {
  .nav-footer {
    margin-left: 0;
    margin-right: 0;
  }
}

.menu-footer:after {
  clear: both;
  content: " ";
  display: table;
}
.menu-footer .menu-item {
  float: left;
}
.menu-footer .menu-item a {
  color: #666699;
  display: inline-block;
  font-size: 11px;
  font-size: 1.1rem;
  letter-spacing: 0;
  padding: 0;
  text-decoration: none;
}
.menu-footer .menu-item a:hover {
  color: #666699;
  text-decoration: underline;
}
.menu-footer .menu-item:after {
  color: #7d7d7d;
  content: "|";
  display: inline;
  font-size: 11px;
  font-size: 1.1rem;
  padding-left: 3px;
  padding-right: 3px;
}
.menu-footer .menu-item:last-child:after {
  content: " ";
}

/* Mobile Menu */
.genesis-nav-menu.menu-mobile {
  display: none;
}
.genesis-nav-menu.menu-mobile .menu-item {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
}
.genesis-nav-menu.menu-mobile .menu-item:hover {
  position: static;
  display: block;
}
.genesis-nav-menu.menu-mobile .menu-item:hover > .sub-menu {
  font-size: 14px;
  display: block;
}
.genesis-nav-menu.menu-mobile .current-menu-item a {
  color: #ffffff;
}
.genesis-nav-menu.menu-mobile a,
.genesis-nav-menu.menu-mobile a:focus {
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 20px;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.genesis-nav-menu.menu-mobile a:hover,
.genesis-nav-menu.menu-mobile a:focus:hover {
  color: #ccd5e0;
}
.genesis-nav-menu.menu-mobile .sub-menu {
  left: 0;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: relative;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 100%;
  z-index: 99;
  display: none;
  background-color: #666666;
}
.genesis-nav-menu.menu-mobile .sub-menu .sub-menu {
  margin: 0 0 0 10px;
}

/*  Primary Navigation Extras */
.genesis-nav-menu li.right {
  float: right;
  padding: 24px 20px;
  padding: 2.4rem 2rem;
  list-style-type: none;
}

.genesis-nav-menu li.right a {
  display: inline;
  padding: 0;
}

.genesis-nav-menu li.search {
  padding: 6px 0 0;
  padding: 0.6rem 0 0;
}

.genesis-nav-menu li.rss a {
  background: url(images/rss.png) no-repeat center left;
  margin-left: 20px;
  margin-left: 2rem;
  padding-left: 20px;
  padding-left: 2rem;
}

.genesis-nav-menu li.twitter a {
  background: url(images/twitter-nav.png) no-repeat center left;
  padding-left: 24px;
  padding-left: 2.4rem;
}

/* Pagination */
.archive-pagination li {
  display: inline;
}

.archive-pagination li a,
.archive-pagination li a:hover,
.archive-pagination li.active a,
.archive-pagination li.disabled {
  background-color: #4c5558;
  border-radius: 3px;
  cursor: pointer;
  padding: 12px;
  padding: 1.2rem;
  color: #fff;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
  background-color: #fff;
  color: #000D11;
}

.portfolio-widgetized .archive-pagination {
  clear: both;
}

/*
05 Meta and Comments
---------------------------------------------------------------------------------------------------- */
/* Post Info and Meta */
.entry-meta {
  clear: both;
  line-height: 1.5;
  color: #4c4c4c;
  /*@include rem(font-size, 14px)*/
}

.entry-header .entry-meta {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

.entry-footer .entry-meta {
  border-top: 1px solid #ccc;
  padding-top: 24px;
  padding-top: 2.4rem;
}

.entry-meta .entry-comments {
  background: url(images/post-comments.png) no-repeat center left;
  margin-left: 16px;
  margin-left: 1.6rem;
  padding-left: 20px;
  padding-left: 2rem;
  color: #000000;
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-time {
  color: #000D11;
}

/* Comments */
.entry-comments,
#respond {
  line-height: 1.5;
  overflow: hidden;
}

.ping-list,
.entry-comments {
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
  width: 50%;
}

.commentmetadata,
.comment-form-author,
.comment-form-email,
.comment-form-url {
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}

.comment-form-comment {
  margin: 12px 0;
  margin: 1.2rem 0;
}

/*label {
	margin-left: 12px;
	@include rem(margin-left, 12);
}*/
.comment-list li,
.ping-list li {
  list-style-type: none;
  margin-top: 24px;
  margin-top: 2.4rem;
  padding: 32px;
  padding: 3.2rem;
  border-radius: 10px;
}

.comment-list li ul li {
  margin-right: -32px;
  margin-right: -3.2rem;
}

.comment-header {
  overflow: hidden;
}

.comment {
  background-color: #f4f4f4;
  border: 1px solid #e5e5e5;
}

.comment-content p {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

.entry-comments .navigation {
  margin-top: 32px;
  margin-top: 3.2rem;
}

.comment-list li .avatar {
  float: left;
  margin: 0 16px 24px 0;
  margin: 0 1.6rem 2.4rem 0;
  border-radius: 8px;
}

/*
06 Post Content Styles
---------------------------------------------------------------------------------------------------- */
.entry-content p {
  color: #00115b;
  margin-bottom: 26px;
  margin-bottom: 2.6rem;
}

/* After Post */
.after-post {
  background: #f2f2f2;
  border: 1px solid #d8d8d8;
  padding: 10px;
  padding: 1rem;
  margin-bottom: 50px;
  margin-bottom: 5rem;
}

/* Blockquotes */
blockquote {
  padding: 24px 64px;
  padding: 2.4rem 6.4rem;
}

blockquote::before {
  content: "ΓÇ£";
  display: block;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}

blockquote::before,
blockquote p {
  color: #7f7f7f;
}

blockquote::before {
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 58px;
  line-height: 5.8rem;
}

/* Lists */
.entry-content ol,
.entry-content ul {
  margin-bottom: 26px;
  margin-bottom: 2.6rem;
}

.entry-content ol li,
.entry-content ul li {
  line-height: 1.625;
  margin-left: 40px;
  margin-left: 4rem;
}

.entry-content ol li {
  list-style-type: decimal;
}

.entry-content ul li {
  list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.frontpage-carousel {
  display: none;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
}
@media only screen and (min-width: 992px) {
  .frontpage-carousel {
    display: block;
    float: left;
    margin-bottom: 0;
  }
}

.frontpage-list {
  margin: 0 auto;
  width: 100%;
  max-width: 498px;
}
@media only screen and (min-width: 992px) {
  .frontpage-list {
    float: right;
    padding-right: 15px;
    padding-top: 15px;
    width: 320px;
  }
}
.frontpage-list h1 {
  color: #00115b;
  margin-bottom: 10px;
}
.frontpage-list ul {
  color: #990000;
  margin-bottom: 10px;
}
.frontpage-list ul li {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 15px;
  text-transform: uppercase;
}
.frontpage-list p {
  color: #990000;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 15px;
}

.steps-horizontal {
  margin: 0 auto;
  max-width: 498px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .steps-horizontal {
    max-width: 100%;
  }
}
.steps-horizontal h1, .steps-horizontal h2, .steps-horizontal h3, .steps-horizontal h4, .steps-horizontal h5, .steps-horizontal h6 {
  color: #990000;
  font-size: 32px;
  font-size: 3.2rem;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media only screen and (min-width: 992px) {
  .steps-horizontal h1, .steps-horizontal h2, .steps-horizontal h3, .steps-horizontal h4, .steps-horizontal h5, .steps-horizontal h6 {
    font-size: 38px;
    font-size: 3.8rem;
  }
}
.steps-horizontal .steps {
  margin-bottom: 20px;
}
@media only screen and (min-width: 992px) {
  .steps-horizontal .steps {
    margin-bottom: 0;
  }
}
.steps-horizontal .steps li {
  color: #00115b;
  display: inline-block;
  font-weight: 700;
  list-style-type: none;
  max-width: 768px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .steps-horizontal .steps li {
    width: 195px;
  }
}
@media only screen and (min-width: 992px) {
  .steps-horizontal .steps li:after {
    color: #30568e;
    content: "\f04b";
    font-family: "FontAwesome";
    font-size: 20px;
    font-size: 2rem;
    font-style: normal;
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow: 1px 1px 2px #333;
  }
}
@media only screen and (min-width: 992px) {
  .steps-horizontal .steps li:last-child {
    margin-left: 0;
    padding-left: 0;
  }
}
@media only screen and (min-width: 992px) {
  .steps-horizontal .steps li:last-child:after {
    content: none;
  }
}
.steps-horizontal .steps li .steps-number {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1;
  margin-right: 5px;
  float: left;
}
@media only screen and (min-width: 992px) {
  .steps-horizontal .steps li .steps-number {
    font-size: 48px;
    font-size: 4.8rem;
  }
}
.steps-horizontal .steps li .steps-text {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 14px;
  margin-top: 10px;
}
@media only screen and (min-width: 360px) and (max-width: 991px) {
  .steps-horizontal .steps li .steps-text {
    line-height: 30px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .steps-horizontal .steps li .steps-text {
    float: left;
    width: 132px;
  }
}

.steps-vertical {
  border: 1px solid #0086d8;
  border-radius: 5px;
}
.steps-vertical h1, .steps-vertical h2, .steps-vertical h3, .steps-vertical h4, .steps-vertical h5, .steps-vertical h6 {
  color: #ffffff;
  margin-bottom: 0;
  text-shadow: 0 0 5px #000000;
}
.steps-vertical .steps-vertical-top {
  background-color: #70cdef;
  border-bottom: 1px solid #0086d8;
  padding: 20px;
  text-align: center;
}
.steps-vertical .steps-vertical-top img {
  margin-top: 20px;
}
.steps-vertical .steps-vertical-bottom {
  background: #4aa1d4;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhYTFkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTZjYWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #4aa1d4 0%, #1a6cae 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4aa1d4), color-stop(100%, #1a6cae));
  background: -webkit-linear-gradient(top, #4aa1d4 0%, #1a6cae 100%);
  background: -o-linear-gradient(top, #4aa1d4 0%, #1a6cae 100%);
  background: -ms-linear-gradient(top, #4aa1d4 0%, #1a6cae 100%);
  background: linear-gradient(to bottom, #4aa1d4 0%, #1a6cae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa1d4', endColorstr='#1a6cae',GradientType=0 );
  padding: 20px;
}
.steps-vertical .steps-vertical-bottom ol li {
  font-weight: 700;
}

.final-step-header {
  margin-bottom: 30px;
}
.final-step-header h2 {
  font-size: 50px;
  font-size: 5rem;
  margin-bottom: 0;
  text-transform: uppercase;
}
@media only screen and (min-width: 640px) {
  .final-step-header h2 {
    font-size: 55px;
    font-size: 5.5rem;
  }
}
.final-step-header p {
  color: #027bd6;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 640px) {
  .final-step-header p {
    font-size: 25px;
    font-size: 2.5rem;
  }
}

.final-step-list {
  margin-bottom: 30px !important;
}
.final-step-list li {
  background: url("images/final-step-check.png") no-repeat;
  background-position: left top;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 29px !important;
  margin-bottom: 10px;
  margin-left: 0 !important;
  padding-left: 35px;
  list-style-type: none !important;
}
@media only screen and (min-width: 640px) {
  .final-step-list li {
    font-size: 20px;
    font-size: 2rem;
  }
}

.partners p {
  color: #868887;
  margin-bottom: 10px;
}
.partners img {
  vertical-align: middle;
}

.partners-logo img {
  margin-right: 20px;
  vertical-align: top;
}

/*
07 Sidebar
---------------------------------------------------------------------------------------------------- */
.sidebar {
  display: inline;
  line-height: 1.5;
}
.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6 {
  color: #626262;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: normal;
}

.sidebar .content {
  width: 100%;
}

.sidebar p {
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
}

.sidebar section.widget {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.sidebar.widget-area ul li {
  list-style-type: none;
  margin-bottom: 6px;
  margin-bottom: 0.6rem;
  word-wrap: break-word;
}

.panel-apply-form .panel-heading {
  background: #96d7ed;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2ZDdlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZjhkYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #96d7ed 0%, #0f8db7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96d7ed), color-stop(100%, #0f8db7));
  background: -webkit-linear-gradient(top, #96d7ed 0%, #0f8db7 100%);
  background: -o-linear-gradient(top, #96d7ed 0%, #0f8db7 100%);
  background: -ms-linear-gradient(top, #96d7ed 0%, #0f8db7 100%);
  background: linear-gradient(to bottom, #96d7ed 0%, #0f8db7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96d7ed', endColorstr='#0f8db7',GradientType=0 );
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.panel-apply-form .panel-heading .panel-title {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 35px;
  line-height: 3.5rem;
  text-shadow: -2px 2px 5px #000000;
}
@media only screen and (min-width: 992px) {
  .panel-apply-form .panel-heading .panel-title {
    background: url("images/Home2EnterZipHead.png") no-repeat;
    border-radius: 4px 4px 0 0;
    text-indent: -9999px;
    text-indent: -999.9rem;
  }
}
.panel-apply-form .panel-body {
  background: #95d7ed;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1ZDdlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZThkYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #95d7ed 0%, #0e8db7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #95d7ed), color-stop(100%, #0e8db7));
  background: -webkit-linear-gradient(top, #95d7ed 0%, #0e8db7 100%);
  background: -o-linear-gradient(top, #95d7ed 0%, #0e8db7 100%);
  background: -ms-linear-gradient(top, #95d7ed 0%, #0e8db7 100%);
  background: linear-gradient(to bottom, #95d7ed 0%, #0e8db7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95d7ed', endColorstr='#0e8db7',GradientType=0 );
  border-radius: 0 0 4px 4px;
}
@media only screen and (min-width: 992px) {
  .panel-apply-form .panel-body {
    background: url("images/Home2EnterZipBg.png") no-repeat;
    height: 172px;
    height: 17.2rem;
  }
}
.panel-apply-form .panel-body .col-sm-* {
  padding-left: 0;
  padding-right: 0;
}
.panel-apply-form .panel-body .control-label {
  color: #231f20;
  font-size: 12px;
  font-size: 1.2rem;
  padding-top: 4px;
  padding-top: 0.4rem;
  padding-right: 0;
}
.panel-apply-form .panel-body .form-control {
  border: 1px solid #abadb3;
  border-radius: 0;
  color: #000;
  font-size: 13px;
  font-size: 1.3rem;
  height: 22px;
  height: 2.2rem;
  padding: 0;
}
@media only screen and (min-width: 1024px) {
  .panel-apply-form .panel-body .form-control {
    margin-left: -5px;
    margin-left: -0.5rem;
  }
}

/*
08 Sidebar Alt
---------------------------------------------------------------------------------------------------- */
/* SideBar Alt Styles */
/*
09 Footer
---------------------------------------------------------------------------------------------------- */
/*
Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
  clear: both;
  padding-top: 10px;
}
.site-footer .wrap {
  overflow: hidden;
}

.social-buttons {
  margin: 10px 20px;
}
@media only screen and (min-width: 992px) {
  .social-buttons {
    margin-left: 0;
    margin-right: 0;
  }
}
.social-buttons span {
  vertical-align: top;
}

.copyright {
  color: #666699;
  font-size: 11px;
  font-size: 1.1rem;
  margin-left: 20px;
  margin-right: 20px;
}
@media only screen and (min-width: 992px) {
  .copyright {
    margin-left: 0;
    margin-right: 0;
  }
}

.geotrust-bbb-buttons {
  margin-bottom: 10px;
  margin-left: 20px;
  text-align: left;
}
@media only screen and (min-width: 992px) {
  .geotrust-bbb-buttons {
    margin-bottom: 0;
    margin-left: 0;
    text-align: right;
  }
}

.site-footer section.widget {
  background-color: #ffffff;
  padding: 20px;
}
@media only screen and (min-width: 992px) {
  .site-footer section.widget {
    border: 1px solid #898989;
    margin-bottom: 20px;
  }
}
.site-footer section.widget p {
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
}
.site-footer section.widget .widget-area ul li {
  list-style-type: none;
  margin-bottom: 6px;
  margin-bottom: 0.6rem;
  word-wrap: break-word;
}

.site-footer section.widget .widget .content {
  float: none;
  width: 100%;
}

.site-footer section.widget-wrangler-widget-classname {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 992px) {
  .article-list-section {
    padding: 15px;
  }
}

.learn-more h1, .learn-more h2, .learn-more h3, .learn-more h4, .learn-more h5, .learn-more h6, .learn-more p {
  color: #990000;
}
.learn-more a {
  color: #990000;
  text-decoration: none;
}
.learn-more a:hover, .learn-more a:focus {
  color: #990000;
  text-decoration: underline;
}

/*********************************************************************************************

            MODULES

**********************************************************************************************/
/*
10 Forms and Buttons
---------------------------------------------------------------------------------------------------- */
input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #bcbcbc;
  border-radius: 3px;
  box-shadow: 0 0 5px #ddd inset;
  padding: 16px;
  padding: 1.6rem;
  width: 100%;
  color: #7f7f7f;
}

.form-apply .zipcode-label {
  line-height: 30px;
}
.form-apply .zipcode {
  border-radius: 0;
  box-shadow: none;
  color: #000000;
  margin-bottom: 10px;
  padding: 5px;
}
@media only screen and (min-width: 992px) {
  .form-apply .zipcode {
    float: right;
    margin-bottom: 5px;
    width: 205px;
  }
}
.form-apply .typeofloan-label {
  line-height: 30px;
}
@media only screen and (min-width: 992px) {
  .form-apply .typeofloan-label {
    display: none;
  }
}
.form-apply .typeofloan {
  border-radius: 0;
  box-shadow: none;
  color: #000000;
  margin-bottom: 20px;
  padding: 5px;
}
@media only screen and (min-width: 992px) {
  .form-apply .typeofloan {
    margin-bottom: 5px;
  }
}

.btn-apply {
  background-color: #990000;
  border: 0;
  border-radius: 0;
  color: #fff;
  display: block;
  font-weight: 700;
  font-size: 30px;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0 0 5px #000000;
  padding: 5px 10px;
  width: 100%;
}
.btn-apply:hover {
  background-color: #990000;
  box-shadow: 0 0 20px #333 inset;
  text-shadow: none;
}
.btn-apply .fa {
  font-size: 22px;
  font-size: 2.2rem;
  position: relative;
  top: -4px;
}

.auto-loan-calculator-container {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.form-calculator .form-group {
  margin-bottom: 5px;
  overflow: auto;
}
@media only screen and (min-width: 640px) {
  .form-calculator .form-group {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 640px) {
  .form-calculator label {
    margin-top: 5px;
  }
}
.form-calculator .form-control {
  border-radius: 0;
  margin: 5px 0 10px;
  padding: 5px;
}
@media only screen and (min-width: 640px) {
  .form-calculator .form-control {
    float: right;
    margin: 0;
    width: 60%;
  }
}

.btn-calculate {
  background-color: #17619b;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  display: block;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  text-shadow: 0 0 5px #000000;
  text-transform: uppercase;
  width: auto;
}
.btn-calculate:hover {
  background-color: #17619b;
  box-shadow: 0 0 20px #333 inset;
  text-shadow: none;
}

.btn-start-over {
  color: #990000;
  background-color: transparent;
  display: block;
  font-size: 13px;
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.btn-start-over:hover {
  background-color: #990000;
  color: #fff;
  text-decoration: none;
}

#table-header {
  background-color: #17619b;
  border: 1px solid gray;
  clear: both;
  color: #fff;
  max-width: 500px;
  width: 100%;
}
#table-header .tbl-heading {
  font-size: 11px;
  font-size: 1.1rem;
  text-align: center;
  vertical-align: middle;
}
@media only screen and (min-width: 640px) {
  #table-header .tbl-heading {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

#table-content {
  background-color: #ccd5e0;
  border: 1px solid gray;
  color: #3a3a3a;
  height: 200px;
  overflow: auto;
  max-width: 500px;
  width: 100%;
}
#table-content .tbl-data {
  font-size: 11px;
  font-size: 1.1rem;
  text-align: center;
}
@media only screen and (min-width: 640px) {
  #table-content .tbl-data {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.th-pmtnum {
  width: 30px;
}
@media only screen and (min-width: 640px) {
  .th-pmtnum {
    width: 50px;
  }
}

.th-payment {
  width: 45px;
}
@media only screen and (min-width: 640px) {
  .th-payment {
    width: 80px;
  }
}

.th-principle {
  width: 45px;
}
@media only screen and (min-width: 640px) {
  .th-principle {
    width: 80px;
  }
}

.th-interest {
  width: 45px;
}
@media only screen and (min-width: 640px) {
  .th-interest {
    width: 80px;
  }
}

.th-interest-paid {
  width: 45px;
}
@media only screen and (min-width: 640px) {
  .th-interest-paid {
    width: 90px;
  }
}

.th-balance {
  width: 60px;
}
@media only screen and (min-width: 640px) {
  .th-balance {
    width: 95px;
  }
}

.th-space {
  width: 0;
}
@media only screen and (min-width: 640px) {
  .th-space {
    width: 15px;
  }
}

.td-pmtnum {
  width: 30px;
}
@media only screen and (min-width: 640px) {
  .td-pmtnum {
    width: 50px;
  }
}

.td-payment {
  width: 45px;
}
@media only screen and (min-width: 640px) {
  .td-payment {
    width: 80px;
  }
}

.td-principle {
  width: 45px;
}
@media only screen and (min-width: 640px) {
  .td-principle {
    width: 80px;
  }
}

.td-interest {
  width: 45px;
}
@media only screen and (min-width: 640px) {
  .td-interest {
    width: 80px;
  }
}

.td-interest-paid {
  width: 45px;
}
@media only screen and (min-width: 640px) {
  .td-interest-paid {
    width: 90px;
  }
}

.td-balance {
  width: 60px;
}
@media only screen and (min-width: 640px) {
  .td-balance {
    width: 94px;
  }
}

.extra-payments-calculator-container {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.form-extra-payments .form-group {
  margin-bottom: 5px;
  overflow: auto;
}
@media only screen and (min-width: 640px) {
  .form-extra-payments .form-group {
    margin-bottom: 15px;
  }
}
.form-extra-payments .form-control {
  border-radius: 0;
  margin: 5px 0 10px;
  padding: 5px;
}
@media only screen and (min-width: 640px) {
  .form-extra-payments .form-control {
    display: inline-block;
  }
}
@media only screen and (min-width: 640px) {
  .form-extra-payments .ExtraMonthly,
  .form-extra-payments .ExtraYearly,
  .form-extra-payments .ExtraOnetime {
    width: 50px;
  }
}
@media only screen and (min-width: 640px) {
  .form-extra-payments .ExtraYearlyMonth,
  .form-extra-payments .ExtraOneTimeMonth,
  .form-extra-payments .ExtraOneTimeYear {
    width: 65px;
  }
}
@media only screen and (min-width: 640px) {
  .form-extra-payments .PaidOffDate {
    width: 120px;
  }
}

.btn-free-credit,
.btn-free-credit:active {
  background: #ffd275;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDI3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOTJjMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffd275 0%, #c92c01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd275), color-stop(100%, #c92c01));
  background: -webkit-linear-gradient(top, #ffd275 0%, #c92c01 100%);
  background: -o-linear-gradient(top, #ffd275 0%, #c92c01 100%);
  background: -ms-linear-gradient(top, #ffd275 0%, #c92c01 100%);
  background: linear-gradient(to bottom, #ffd275 0%, #c92c01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd275', endColorstr='#c92c01',GradientType=0 );
  border: 1px solid #b8b6b7;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 30px;
  padding: 15px 25px;
  text-decoration: none;
  text-shadow: 0 1px 1px #000;
  text-transform: uppercase;
}
.btn-free-credit:hover, .btn-free-credit:focus,
.btn-free-credit:active:hover,
.btn-free-credit:active:focus {
  color: #fff;
}
@media only screen and (min-width: 640px) {
  .btn-free-credit,
  .btn-free-credit:active {
    background: url("images/Get-Free-Credit-Score-Btn.jpg") no-repeat;
    border: 0;
    height: 67px;
    text-indent: -9999px;
    width: 426px;
  }
  .btn-free-credit:active,
  .btn-free-credit:active:active {
    background: url("images/Get-Free-Credit-Score-Btn.jpg") no-repeat;
    border: 0;
    height: 67px;
    text-indent: -9999px;
    width: 426px;
  }
}

/*
11 Images and Captions
---------------------------------------------------------------------------------------------------- */
embed,
img,
object,
video {
  max-width: 100%;
}

img {
  height: auto;
}

.alignleft .avatar {
  margin-right: 24px;
  margin-right: 2.4rem;
}

.alignright .avatar {
  margin-left: 24px;
  margin-left: 2.4rem;
}

.author-box .avatar {
  float: left;
  margin-right: 24px;
  margin-right: 2.4rem;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
  margin: 0 auto 2.4rem;
}

img.alignnone {
  display: inline;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}

img.alignleft,
.post-image,
.wp-caption.alignleft {
  display: inline;
  margin: 0 24px 24px 0;
  margin: 0 2.4rem 2.4rem 0;
}

img.alignright,
.wp-caption.alignright {
  display: inline;
  margin: 0 0 24px 24px;
  margin: 0 0 2.4rem 2.4rem;
}

p.wp-caption-text {
  line-height: 1.2;
  margin-top: 12px;
  margin-top: 1.2rem;
}

.wp-caption {
  text-align: center;
}

/*
12 Author Box / Bread Crumbs / Sticky
---------------------------------------------------------------------------------------------------- */
.author-box,
.sticky {
  margin-bottom: 80px;
  margin-bottom: 8rem;
}

.author-box,
.taxonomy-description {
  line-height: 1.5;
}

.author-box,
.sticky,
.taxonomy-description {
  background-color: #f5f5f5;
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
  overflow: hidden;
  padding: 32px;
  padding: 3.2rem;
}

.breadcrumb {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 10px;
  padding: 1rem;
}

/*
13 Widgets/Plugins
---------------------------------------------------------------------------------------------------- */
/* eNews */
.enews input[type="submit"],
.search-form input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Gravity Forms */
.content div.gform_wrapper input,
.content div.gform_wrapper select,
.content div.gform_wrapper textarea,
.content div.gform_wrapper .ginput_complex label {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 16px;
  padding: 1.6rem;
}

.content div.gform_wrapper input[type="submit"] {
  padding: 16px 24px;
  padding: 1.6rem 2.4rem;
}

.content div.gform_wrapper .ginput_complex label {
  padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
  margin: 16px 0 0;
  margin: 1.6rem 0 0;
}

.home-widget .widget .content {
  width: 100%;
}

.after-content {
  background: #ecefff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWQ0ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ecefff 0%, #c9d4e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ecefff), color-stop(100%, #c9d4e6));
  background: -webkit-linear-gradient(top, #ecefff 0%, #c9d4e6 100%);
  background: -o-linear-gradient(top, #ecefff 0%, #c9d4e6 100%);
  background: -ms-linear-gradient(top, #ecefff 0%, #c9d4e6 100%);
  background: linear-gradient(to bottom, #ecefff 0%, #c9d4e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecefff', endColorstr='#c9d4e6',GradientType=0 );
  border-top: 1px solid #111d43;
  clear: both;
  padding: 20px;
}
